@font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
          url('../fonts/yeseva-one-v20-latin-regular.woff2') format('woff2'), 
         url('../fonts/yeseva-one-v20-latin-regular.woff') format('woff');  
  }
@font-face {
    font-family: 'Nunito Sans'sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'), 
    url('../fonts/nunito-sans-v12-latin-regular.woff') format('woff'); 
}
@import "../clients-picture.blocks/__clients-review.css ";
@import '../adress.blocks/__form.css';
@import "../clients-picture/clients-picture.css";
@import "../touch.blocks/header/header.css";
@import "../slider-mjbile.blocks/slider.css";
@import "../base.scss/verable.scss";
:root{
    --font-primary:'Nunito Sans', sans-serif;
    --font-primary-heading:'Yeseva One';
    --color-font-gold: #E3B873;
    --color-font-wihte: #FFFFFF;
    --color-backround-black: #131313;
    --color-backround-wihte: #FFFFFF;
}
body {
    margin: 0 auto;
}
* {
    padding: 0;
    font-family: var(--font-primary-heading);
    box-sizing: border-box;
  }
a:hover {   
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: #E3B873; 
}
.active {
    text-decoration-color: #E3B873;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    margin-left: 95px;
    margin-right: 89px;
}   
.header-tel {
    font-size: 11px;
    color: #E3B873;
    text-align: right;
    text-decoration-line: underline;
}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 11px;
    color: white;
    line-height: 15px;
    cursor: pointer;
}
.button-header {
    outline: 0px;
    border: 0px;
    padding: 13px 33px;
    text-transform: uppercase;
    width: 161px;
    height: 37px;
}
.logo {
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}
.header { 
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    background-color: black;
}
ul {
    list-style: none;
}
.navigation {
    padding-right: 50px;
    } 
.header-navigation {
    display: flex;
}
.header-navigation__item {
    margin: 0px 52px 0px 0px;
}
.header-navigation__item:nth-child(6) {
    margin-right: 0px;
}

.header-navigation__item a {
    font-family: var(--font-primary);
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 11px;
    line-height: 15px;
}
.header-nav:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: #E3B873;  
}
 .section-hero {
    background-image:url("../images/hero.jpg");
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}
.hero-container {
    position: relative;
    z-index: 1;
}
/*  */
.section-hero::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.hero-button {
    height: 51px;
    width: 207px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    margin-right: 16px; 
    color: #FFFFFF;
}
.hero-button:nth-child(2) {
    margin-right: 0px;
}
.hero-button_calculate {
    border: 0px;
}
.hero-button{
    border: 1px solid #FFFFFF;
    background:transparent;
}
.hero-button___app {
    display: none;
}
.button:hover {
    background: #E3B873;
	border:unset;
}
.hero-contaiher_item {
    margin-left: 136px;
    margin-top: -5px;
} 

.title {
    margin: 0 auto;
    font-family: 'Yeseva One'; 
    font-style: normal;
    font-weight: 400;
}
.title-hero {
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 1299px;
}
.hero-span {
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #E3B873;
}
.paragraf {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.hero-paragraf {
    font-size: 22px;
    line-height: 36px;
    max-width: 1299px;
    margin-top: 20px;
} 
.slider-section {
    background-color:#131313;
    padding-bottom: 415px
}
.nav-slider {
    padding-top: 94px;
    padding-bottom: 34px;
}
.nav-slider__item {
    list-style: none;
    display: flex;
} 
.nav-item {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin-right: 67px;
}
.nav-item__link {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}
.slider-content 
    {font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}
.slider_cont {
    margin-left: 68px;
}
slider-content_right {
    margin-left:  0px;
}
.dots-navigation {
    height: 13px;
    margin-top: 65px;
    padding-left: 138px;
}
.dots-navigation__slider {
    margin-right: 18px;
}
.dots-navigation__slider:nth-child(5) {
    margin: 0px;
}
.subtitle {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 27px;
}
.slider-content__title {
    display: grid;
    grid-template-columns: 44% 57%;
    grid-template-rows: 148px 174px 143px 200px;
}
.slider-paragraf {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
}
.slider-content__info {
    font-size: 13px;
    line-height: 21px;
    margin-top: -280px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin-left: 69px;
}
.slider-subtitle {
    height: 161px;
    margin: 173px 0px 0px 136px;
}
.slider-info {
    margin: 0px;
    font-family: var(--font-primary-heading);
}
.slider-info:nth-child(odd) {
    margin-top: 0px;
}
.content-info {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 17px;
}
.paragraf-info {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    margin-top: 0px;
}
.slider-info_area {
    margin-top: 0px;
}
.slider-info_repair {
    margin-top: 35px;
}
.control-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: -327px;
}
.control-hr {
   width: 55px;
   height: 2px;
   background: #E3B873;
   border-radius: 30px;
   border: none;
   margin-top: 65px;
}
.control-video {
    background-image: url(../images/image6.jpg);
    height: 434px;
    width: 817px;
    border-radius: 0px;
    position: relative;
    margin-top: 38px;
}
.control-video::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.control-video__pley { 
    position: relative;
    z-index: 1;
    display: flex;
    margin: 0 auto;
    margin-top: 150px;
}
.section-title {
    margin-bottom: -18px;
    margin-top: -21px;

}
.control-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;  
      color: var(--color-font-wihte);
    font-family: var(--font-primary-heading);
}
.control-paragraf {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    height: 131px;
    margin: 20px 0px 90px 0px;
}
.control-input {
    display: flex;
    justify-content: center;
}
.control-form {
    display: flex;
}
.control-form__input {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    height: 26px;
    width: 231px;
    border: none;
    border-bottom: 1px solid #3636364D;
}
.button-control{
    height: 51px;
    width: 200px;
    border-radius: 2px;
    border: none;
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 4px;
}
.control-form__label{
    font-family: 'Nunito Sans'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    
    color: rgba(54, 54, 54, 0.5);
    margin: 5px 52px -3px 0px;
}
.control-icon__item:nth-child(2) {
    margin-top: 12px;
    margin-bottom: -12px;
}
.checkbox-label {
    cursor: pointer;
    margin: 32px 0px 0px 0px;
    font-family: var(--font-primary);
    line-height: 163.68%;
    color: #181818;
}
.control-checkbox {
    display: none;
    border-radius: 1px;
}
.control-checkbox__fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.control-checkbox__text {
    font-family: var(--font-primary);
    font-size: 14px;
}
.control-checkbox__fake::before {
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.control-checkbox:checked + .control-checkbox__fake::before {
    opacity: 1;
}
.newsletter {
    color: white;

}
.container-types {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.types-block__title {
    font-weight: 400;
    font-size: 18px;
    margin-left: -11px;
}
.title-types {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-top: 141px;
}
.picture-slider {
    margin-left: -4px;
}
.picture-types {
    margin: 16px;
}
.picture-block {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.wrapper {
    margin: 0px 12px 0px 18px;
}
.types-block__wrapper {
    margin: -128px 30px 0 30px;
    padding: 4px 33px 52px 43px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 3%);
    z-index: 1;
    position: relative;
}
.types-block__button {
    min-width: 228px;
	padding: 17px 0;
    font-family: var(--font-primary-heading);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    border: 0px;
    margin: 0px 0px 0px -45px;
}
.types-list {
    margin-top: -13px;
    margin-left: -10px;
}
.types-list__item {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.types-list__item::before {
    content:"\2022";
    font-size: medium;
    font-weight: 700;
    margin-right: 4px;
}
.types-measurements {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    padding-top: 162px;
    display: grid;
    grid-template-columns: 1fr 41%;
    grid-gap: 100px;
    width: 1170px;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    letter-spacing: 0em;
    text-align: center;
    
}
.types-measurements__list {
    padding: 0 0 242px 0;
    background-position: left top -88px;
    background-repeat: no-repeat;
    background-image: url("../images/museum.jpg");
}
.types-measurements__ol {
    margin-left: 243px;
    
}
.measurements-list__item {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    counter-reset: item;
    list-style-type: none;
    display: flex;
    align-items: center;
    line-height: 19px;
    color: #363636;
    margin: 0 0 86px 0;
    text-align: start;
}
.measurements-list__number {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    width: 57px;
    height: 57px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
	padding: 8px 0 10px;
	margin-right: 10px;
    color: #FFFFFF;
    flex: 0 0 auto;
}
.measurements-form {
    font-style: normal;
    font-weight: 400;
    height: 509px;
    width: 506px;
    background-color: var(--color-backround-black);
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 0px;
    margin: 17px 0px 0px -13px;
}
.measurements-form__title {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 25px;
    letter-spacing: 0.4px;
}
.measurements-form__label{
    font-family: var(--font-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 14px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    margin: 32px 377px 1px 0px;
}
.measurements-checkbox {
    margin: 0px 128px 0px 0px;
}
.measurements-checkbox__text{
    color: var(--color-font-wihte);
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 163.68%;

}
.measurements-form__input{
    background-color: var(--color-backround-black);
    color: #FFFFFF;
    border: none;
    font-family: var(--font-primary);
    margin: 4px 2px 12px 2px;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.15);
    width: 411px;
    padding-bottom: 10px;
} 
.button-measurements{
    height: 55px;
    width: 218px;
    border-radius: 0px;
    margin: 34px -192px 0px 0px;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.measurements-pig{
    font-family: var(--font-primary);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: initial;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    display: flex;
    margin-left: 11px;
    margin-top: 55px;
    
}
.section-fantasies{
    height: 864px;
    background-image: url(../images/fantasies.jpg);
    background-size: cover;
    position: relative;
    margin-top: 48px;
}
.section-fantasies::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}
.container-fantasies{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.fantasies-navigation {
    width: 587px;
    padding: 132px 11px 0px 97px;
}
.fantasies-navigation__title {
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: var(--color-font-gold);
}
.fantasies-navigation__item {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 39px;
    line-height: 38px;
}
.fantasies-navigation__item-list {
    margin-bottom: 9px;
}
.fantasies-navigation__item-list:nth-child(11) {
    margin: 0px;
}
.fantasies-nav {
    text-decoration: none;
    color: var(--color-font-wihte);
    font-family: var(--font-primary);
    line-height: 40px;
}
.fantasies-picture {
    display: flex;
    margin-left: 195px;
}
.fantasies-picture__bloc {
    margin: -112px 35px 0px -24px;
}
.fantasies-picture__bloc:nth-child(1){
    margin: 0px;
}
.fan-picture_1{
    margin-top: -41px;
    margin-bottom: 33px;
}
.fan-picture_4{
    margin-top: 32px;
}
.container-client {
    text-align: center;
}
.clients-content {
    margin-top:  107px;
}
.clients-content__title {
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase
}
.clients-content__icon {
    margin-top: -7px;
}
.clients-content__item {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}
.clients-review {
    display: flex;
    justify-content: space-around;
    margin-top: 39px;
    position: relative;
}
.clients-review__item-mariy {
    margin: 0px -46px 0px 54px;
}
.clients-review__item-sergey {
    margin: 0px 3px 0px 5px;
}
.clients-review__item-egor {
    margin: 0px 52px 0px -41px;
}
.clients-review__item {
    width: 376px;
    height: 455px;
    background: var(--color-backround-wihte);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    text-align: start;
}
.clients-review__item-title {
    display: flex;
    justify-content: start;
    padding-top: 25px;
    padding-left: 21px;
    
}
.clients-review__foto{
    border-radius: 50%;
}
.clients-review__name {
    font-size: 18px;
    line-height: 23px;
    margin-left: 24px;
}
.clients-review__item-paragr {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    padding: 0px 25px 0px;
    margin-top: 22px;
}
.clients-review__rectangle {
    height: 54px;
    width: 293px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;
    align-items: center;
    margin-top: 67px;
    justify-content: space-around;
}
.clients-review__rectangle-square {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--color-font-wihte);
}
.clients-picture{
    display: flex;
    justify-content: space-between;
    margin-top: -398px;
}
.clients-picture__city {
    height: 770px;
    width: 720px;
}
.clients-picture__city1{
    background-image: url('../images/Citi1.jpg');
    background-size: contain;
}
.clients-picture__city2 {
    background-image: url('../images/Citi2.jpg');
    background-size: contain;
}
.section-adress {
    background-image: url('../images/bacrmap.jpg');
    margin-top: -19px;

}
.container-adress {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    height: 944px;
    position: relative;
    z-index: 1;
   
    
}
.container-adress::before {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.content-adress__map {
    position: relative;
    text-align: center;
}
.form-adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-backround-black);
    width: 883px;
    height: 445px;
    margin-top: -221px;;
    margin-left: 20px;
    z-index: inherit;

}
.form-adress__item{
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}
.form-title {
    text-align: center;
    color: var(--color-font-wihte);
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 31px;
}
.form-adress__name {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin: -20px -6px 29px 31px;
}
.form-adress__name-quest {
    margin: 44px 469px 0px 0px;
}
.form-adress__map-email {
    margin-top: -21px;
    margin-right: 2px;
    background-color: var(--color-backround-black);
    color: #FFFFFF;
    border: none;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    width: 516px;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.15);

}
.input-map {
    background-color: var(--color-backround-black);
    color: #FFFFFF;
    border: none;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    margin: -5px 27px 3px -30px;
    padding-bottom: -1px;

}
.form-adress__contact {
    border-bottom: 1px solid  rgba(255, 255, 255, 0.15);
    width: 231px;
}
.button-adress {
    height: 55px;
    width: 202px;
    margin-top: 26px;
    font-size: 13px;
    text-transform: uppercase;
}
.checkbox-adress__text{
    color: var(--color-font-wihte);
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    margin-left: 0px;
}
.checkbox-adress{
    margin-top: 31px;
}
.checkbox-adress__name{
    margin-left: 0px;
}
.map-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    text-align: center;
    margin-top: 47px;
    margin-bottom: 25px;
}
.map-icon {
margin-bottom: 39px;
}
.map-icon__mail {
    margin-right: 9px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    margin-left: 95px;
    margin-right: 89px;
    padding-top: 52px;
}
.footer-tel {
    font-size: 11px;
    color: #E3B873;
    text-align: right;
    text-decoration-line: underline;
}
.button-footer {
    outline: 0px;
    border: 0px;
    padding: 13px 33px;
    text-transform: uppercase;
    width: 161px;
    height: 37px;
}
.footer { 
    background-color: black;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    height: 133px;
}
.footer-navigation {
    list-style: none;
    display: flex;
}
.footer-navigation__item {
    margin: 0px 52px 0px 0px;
}
.footer-navigation__item:nth-child(6) {
    margin: 0px;
}
.footer-navigation__item a{
    font-family: var(--font-primary);
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 11px;
    line-height: 15px;
}
.footer-nav:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: #E3B873;  
}
.button-footer {
    outline: 0px;
    border: 0px;
    padding: 13px 33px;
    text-transform: uppercase;
    width: 161px;
    height: 37px;
}
@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
    .header-content{
        /* display: block; */
        font-size: 15px;
    }
    .header-navigation {
        margin: 0 auto;
        width: 0px;
        overflow: hidden;
    }
    .button-header {
        display: none;
    }
    .page-index{
        margin: 0 auto;
    }
    .logo{
        font-size: 15px;
    }
    .header-tel {
        font-size: 15px;
    }
    .slider-content__title {
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: 148px 174px 143px 200px;
    }
    .slider-subtitle {
        margin: 30px 0px 0px 0px;
        text-align: center;
        }
    .slider-paragraf {
        font-size: 12pt;
        white-space: nowrap;
        
    }
    .slider-content__info {
        font-size: 14px;
        line-height: 138%;
        margin: 105pt;
        margin-left: -18px;
        margin-right: 154px;
        margin-bottom: 63px;
    }
    .slider-info__time {
        margin-top: 59px;
    }
    .slider-info_repair{
            margin-top: 76px;
        }
    .nav-slider__item {
        list-style: none;
        display: flex;
    }
    .control-video {
        width: 708px;
    } 
    .control-title {
        font-size: 35px;
        padding-bottom: 32px;
    } 
    .control-form {
        display: flex;
        flex-direction: column;
    } 
    .control-wrapper {
    background-color: var(--color-backround-black);  
    }
    .control-paragraf {
        font-size: 13pt;
        color: var(--color-font-wihte);
    }
    .control-form__input {
        font-size: 18px;
        height: 56px;
        width: 676px;
        border-bottom: 1px solid var(--color-font-wihte);
        margin-left: 1px;
        background-color: black;
        color: white;
    }
    .control-form__label {
        font-size: 18px;
        line-height: 21px;
        /* color: rgba(54, 54, 54, 0.5); */
        margin: 51px 11px 58px 11px;
        color: rgba(255, 255, 255, 0.5);
    }
    .control-checkbox__text {
        font-size: 18pt;
        color: var(--color-font-wihte);
    }
    .checkbox-label {
        margin: -213px 0px 143px 0px;
        width: 504pt;    }
    .button-control {
        height: 92px;
        width: 683px;
        font-size: 20px;
        margin-top: 104px;
        margin-left: 9px;
    }
    .picture-block {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
    }
    .dots-navigation,.nav-item,.types-measurements,.container-client,.fantasies-navigation__item {
        display: none;
    }
    /* .container-fantasies {
        object-fit: cover;
        height: 242px;
        width: 340px;
      } */
      /* .section-fantasies {
        height: 864px;
        background-color: var(--color-backround-black);
        background-size: cover;
        position: relative;
        margin-top: 202px;
    } */
        .fantasies-navigation__title{
            margin-top: 111pt;
            text-align: center;
    }
    .fantasies-picture,.section-fantasies {
        display: none;
        /* display: flex;
        margin-left: -420px; */
    }
    .fantasies-picture__mobile{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    /* background-image: url("../images/fantasies.jpg"); */

    }
    .section-fantasie__mobile {
        background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
        /* height: 0; */
    }
    
}
/* .page-index {
    width: calc(250px + (1500 - 250) * ((100vw - 500px) / (1920 - 500)));
  } */
  
@media (max-width: 768px) {
    .hero-contaiher_item {
        max-width: 110%;
        margin-left: 66px;
        margin-top: -82px;
    }
    .hero-paragraf {
        font-size: 20px;
        margin-top: 40px;
    }
    .hero-button {
        width: 644px;
        height: 78px;
        margin-top: 56px;
        font-size: 13px;
    }
    .hero-button___app {
        display: block;    
        }
    .hero-button_submit{
        display: none;
    }
    
    .title-hero {
        font-size: 45px;
    }
    .hero-span {
        font-size: 45px;
    }
    .footer {
        display: none;
     }
     *{ 
        margin:0; 
        padding:0; 
    } 
    .page-index { 
        width:768px; 
        margin:0 auto; 
        text-align:left; 
        } 
    .picture-slider {
        margin-left: 35pt;
        margin: 0 auto;
    }

}
@media (min-width: 769px) {
    
    .hero-button___app {
    display: none;    
    }
    .section-fantasie__mobile{
        display: none;
    }
}



