/* yeseva-one-regular - latin */
@font-face {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/yeseva-one-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/yeseva-one-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* nunito-sans-regular - latin */
@font-face {
    font-family: 'Nunito Sans'sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nunito-sans-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-sans-italic - latin */
@font-face {
    font-family: 'Nunito Sans'sans-serif;
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/nunito-sans-v12-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/nunito-sans-v12-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        }
        body {
            margin: 0 auto;
        }
* {
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
  }
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    margin-left: 167px;
    margin-right: 167px;
}   
.header-tel {
    font-size: 11px;
    color: #E3B873;
}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    /* font-family: 'Nunito Sans'; */
    /* font-style: italic; */
    font-weight: 400;
    font-size: 11px;
    color: white;
    line-height: 15px;
    cursor: pointer;
    /* outline: 0px;
    border: 0px;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase; */
}
.button-header {
    outline: 0px;
    border: 0px;
    padding: 13px 33px;
    text-transform: uppercase;
    width: 161px;
    height: 37px;
}
.logo {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}
.header { 
    background-color: black;
    /* width: 1438px; */
}
.header-navigation {
    list-style: none;
    display: flex;
}
.header-navigation__item {
    margin: 0px 47px 0px 0px;
}
.header-navigation__item a {
    /* font-family: 'Nunito Sans'; */
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 11px;
    line-height: 15px;
}
.hero {
    background-image:url(../imeges/hero.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}
.hero-container { 
    position: relative;
    z-index: 1;

    /* width: 676.11px;
    height: 305px; */
}
/*  */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.hero-button {
    height: 51px;
    width: 207px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    margin-right: 20px; 
    color: #FFFFFF;
}
.hero-button_calculate {
    border: 0px;
}
.hero-button_submit {
    border: 1px solid #FFFFFF;
    background:transparent;
}
.hero-button_submit:hover {
    background: #E3B873;
	border:unset;
}
/* .hero-paragraf {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
} */
/* .hero-contaiher_item {
    height: 305px;
    width: 676.11px ;
} */
.title {
    margin: 0 auto;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 1299px;
}
.hero-span {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #E3B873;
}
.paragraf {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.hero-paragraf {
    font-size: 22px;
    line-height: 36px;
    max-width: 1299px;
}    