/* yeseva-one-regular - latin */
@font-face {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    src: local(''),
          url('../fonts/yeseva-one-v20-latin-regular.woff2') format('woff2'), 
         url('../fonts/yeseva-one-v20-latin-regular.woff') format('woff');  
  }
/* nunito-sans-regular - latin */
@font-face {
    font-family: 'Nunito Sans'sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'), 
    url('../fonts/nunito-sans-v12-latin-regular.woff') format('woff'); 
}
/* nunito-sans-italic - latin */
:root{
    --font-primary:'Nunito Sans', sans-serif;
    --font-primary-heading:'Yeseva One';
    --color-font-gold: #E3B873;
    --color-font-wihte: #FFFFFF;
    --color-backround-black: #131313;
    --color-backround-wihte: #FFFFFF;
}
body {
    margin: 0 auto;
}
* {
    padding: 0;
    font-family: var(--font-primary-heading);
    box-sizing: border-box;
  }
a:hover {   
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: #E3B873; 
}
/* .heder-nav:hover {   
    text-decoration: underline; 
    color: #E3B873; 
} */
.active {
    text-decoration-color: #E3B873;
    /* color: #E3B873;    */
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    /* margin-right: 78px; */
}
/* .page-index {max-width: 1400px;} */
.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    margin-left: 95px;
    margin-right: 89px;
}   
.header-tel {
    font-size: 11px;
    color: #E3B873;
    text-align: right;
    text-decoration-line: underline;
}
.button {

    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 11px;
    color: white;
    line-height: 15px;
    cursor: pointer;
    /* outline: 0px;
    border: 0px;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase; */
}
.button-header {
    outline: 0px;
    border: 0px;
    padding: 13px 33px;
    text-transform: uppercase;
    width: 161px;
    height: 37px;
}
.logo {
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    /* margin-left: 24px; */
}
.header { 
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    background-color: black;
    /* max-width: 1440px;
    margin: 0 auto; */
    /* width: 1438px; */
}
.navigation {
    padding-right: 50px;
}
.header-navigation {
    list-style: none;
    display: flex;
}
.header-navigation__item {
    margin: 0px 52px 0px 0px;
}
.header-navigation__item:nth-child(6) {
    margin-right: 0px;
}

.header-navigation__item a{
    /* font-family: 'Nunito Sans'; */
    font-family: var(--font-primary);
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 11px;
    line-height: 15px;
}
.header-nav:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: #E3B873;  
}
/* .header-nav {
    color: white;
} */
/* .section {
    max-width: 1440px;
    margin: 0 auto;
} */
.section-hero {
    background-image:url(../imeges/hero.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}
.hero-container {
    position: relative;
    z-index: 1;
}
/*  */
.section-hero::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.hero-button {
    height: 51px;
    width: 207px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    margin-right: 16px; 
    color: #FFFFFF;
}
.hero-button:nth-child(2) {
    margin-right: 0px;
}
.hero-button_calculate {
    border: 0px;
}
.hero-button_submit {
    border: 1px solid #FFFFFF;
    background:transparent;
}
.hero-button_submit:hover {
    background: #E3B873;
	border:unset;
}
/* .hero-paragraf {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
} */
.hero-contaiher_item {
    margin-left: 136px;
    margin-top: -5px;
} 
    
.title {
    margin: 0 auto;
    font-family: 'Yeseva One';
    font-style: normal;
}
.title-hero {
    font-size: 40px;
    /* font-weight: 400; */
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 1299px;

}
.hero-span {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #E3B873;
}
.paragraf {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.hero-paragraf {
    font-size: 22px;
    line-height: 36px;
    max-width: 1299px;
    margin-top: 20px;
} 
.slider-section {
    background-color:#131313;
    /* margin-top: -17px; */
    padding-bottom: 415px
}
.nav-slider {
    padding-top: 94px;
    padding-bottom: 34px;
}
.nav-slider__item {
    list-style: none;
    display: flex;
    /* justify-content: flex-start; */
    /* color: #E3B873; */
} 
.nav-item {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin-right: 67px;
}
.nav-item__link {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}
/* .picture-slider {
} */
.slider-content 
    {font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    /* margin-top: 17px; */
}
.slider_cont {
    margin-left: 68px;
}
/* .slider-content_left {
margin: 0;
} */
slider-content_right {
    margin-left:  0px;
}
.dots-navigation {
    height: 13px;
    /* width: 300px; */
    margin-top: 65px;
    padding-left: 138px;
    /* background: #FFFFFF; */
}
.dots-navigation__slider {
    margin-right: 18px;
}
.dots-navigation__slider:nth-child(5) {
    margin: 0px;
}
.subtitle {
    /* font-family: 'Yeseva One'sans-serif; */
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 0px;
}
.slider-content__title {
    display: grid;
    grid-template-columns: 44% 57%;
    grid-template-rows: 148px 174px 143px 200px;
}
.slider-paragraf {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
}
.slider-content__info {
    font-size: 13px;
    line-height: 21px;
    margin-top: -280px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin-left: 69px;
    
    /*mardgin? добавить флекс grid oder */
}
.slider-subtitle {
    /* margin-bottom: 0px; */
    height: 161px;
    /* margin-right: -36px; */
    margin: 173px 0px 0px 136px;
}
.slider-info {
    margin: 0px;
    font-family: var(--font-primary-heading);
    /* margin-bottom: 34px; */
    
}
.slider-info:nth-child(odd) {
    /* margin: 0px; */margin-top: 0px;
}
.content-info {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 17px;
}
.paragraf-info {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    margin-top: 0px;
}
.slider-info_area {
    margin-top: 0px;
}
.slider-info_repair {
    margin-top: 35px;
}
.control-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: -327px;
}
.control-hr {
   width: 55px;
   height: 2px;
   background: #E3B873;
   border-radius: 30px;
   border: none;
   margin-top: 65px;
   /* color: #E3B873; */
}
.control-video {
    background-image: url(../imeges/image6.jpg);
    height: 434px;
    width: 817px;
    border-radius: 0px;
    position: relative;
    margin-top: 38px;
    /* background: rgba(0, 0, 0, 0.8); */
}
.control-video::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.control-video__pley { 
    position: relative;
    z-index: 1;
    display: flex;
    margin: 0 auto;
    margin-top: 150px;
}
.section-title {
    margin-bottom: -18px;
    margin-top: -21px;

}
.control-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;  
      color: var(--color-font-wihte);
    font-family: var(--font-primary-heading);
}
.control-paragraf {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    height: 131px;
    margin: 20px 0px 90px 0px;
}
.control-form {
    display: flex;
    justify-content: center;
}
.control-form__input {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    height: 26px;
    width: 231px;
    border: none;
    border-bottom: 1px solid #3636364D;
}
.button-control{
    height: 51px;
    width: 200px;
    border-radius: 2px;
    border: none;
    /* font-family: var(--font-primary); */
    font-style: normal;
    /* font-weight: 400; */
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 4px;
}
.control-form__label{
    font-family: 'Nunito Sans'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    
    color: rgba(54, 54, 54, 0.5);
    margin: 5px 52px -3px 0px;
}
/* .control-form__item {
    
}  */
.control-icon__item:nth-child(2) {
    margin-top: 12px;
    margin-bottom: -12px;
}
.checkbox-label {
    cursor: pointer;
    margin: 32px 0px 0px 0px;
    font-family: var(--font-primary);
    /* font-size: 14px; */
    line-height: 163.68%;
    color: #181818;
}
.control-checkbox {
    display: none;
    border-radius: 1px;
}
.control-checkbox__fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.control-checkbox__fake::before {
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.control-checkbox:checked + .control-checkbox__fake::before {
    opacity: 1;
}
.newsletter {
    color: white;

}
.container-types {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.types-block__title {
    margin-left: -8px;
}
.title-types {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-top: 136px;
    font-weight: 600;
}
.picture-slider {
    margin-left: -4px;
}
.picture-types {
    margin: 16px;
}
.picture-block {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.wrapper {
    margin: 0px 12px 0px 18px;
}
.types-block__wrapper {
    margin: -128px 30px 0 30px;
    padding: 4px 33px 52px 43px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 3%);
    z-index: 1;
    position: relative;
}
.types-block__button {
    min-width: 228px;
	padding: 17px 0;
	font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: 0px;
    margin: 0px 0px 0px -45px;
}
.types-list {
    margin-top: -13px;
}
.types-list__item {
    font-family: 'Nunito Sans'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.types-measurements {
    /* height: 1643px; */
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    padding-top: 162px;
    display: grid;
    grid-template-columns: 1fr 41%;
    grid-gap: 100px;
    width: 1170px;
    margin: 0 auto;
    width: 100%;
    background-color: white;

    /* font-family: var(--font-primary); */
    /* font-size: 18px; */
    /* font-weight: 400; */
    /* line-height: 26px; */
    letter-spacing: 0em;
    text-align: center;

}
.types-measurements__list {
    /* background-image: url(../img/background.svg); */
    /* margin-left: -71px; */
    padding: 0 0 242px 0;
    background-position: left top -88px;
    background-repeat: no-repeat;
    background-image: url(../imeges/museum.jpg);
}
.types-measurements__ol {
    margin-left: 243px;
    
}
.measurements-list__item {
    counter-reset: item;
    list-style-type: none;
    display: flex;
    align-items: center;
    /* font-weight: 400; */
    /* font-size: 14px; */
    line-height: 19px;
    color: #363636;
    margin: 0 0 86px 0;
}
.measurements-list__number {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    width: 57px;
    height: 57px;
    font-family: var(--font-primary-heading);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    /* flex:0 0 auto; */
	padding: 8px 0 10px;
	margin-right: 10px;
    color: #FFFFFF;
}
.measurements-form {
    /* font-family: var(--font-primary); */
    font-style: normal;
    font-weight: 400;
    height: 509px;
    width: 506px;
    background-color: var(--color-backround-black);
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 0px;
    margin: 17px 0px 0px -13px;
    /* display: flex;
    flex-direction: column; */
}
.measurements-form__title {
    /* font-family: 'Nunito Sans'; */
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 25px;
    letter-spacing: 0.4px;
}
.measurements-form__label{
    font-family: var(--font-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    /* font-family:var(--font-primary) ; 
    font-weight: 400;  */
    font-size: 14px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    margin: 32px 377px 1px 0px;
}
.measurements-checkbox {
    margin: 0px 128px 0px 0px;
}
.measurements-checkbox__text{
    color: var(--color-font-wihte);
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 163.68%;

}
.measurements-form__input{
    background-color: var(--color-backround-black);
    color: #FFFFFF;
    border: none;
    font-family: var(--font-primary);
    margin: 4px 2px 12px 2px;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.15);
    width: 411px;
    padding-bottom: 10px;
} 
.button-measurements{
    height: 55px;
    width: 218px;
    border-radius: 0px;
    margin: 34px -192px 0px 0px;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.measurements-pig{
    font-family: var(--font-primary);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: initial;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    display: flex;
    margin-left: 11px;
    margin-top: 55px;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    margin-left: 95px;
    margin-right: 89px;
}
.footer-tel {
    font-size: 11px;
    color: #E3B873;
    text-align: right;
    text-decoration-line: underline;

}
.button-footer {
    outline: 0px;
    border: 0px;
    padding: 13px 33px;
    text-transform: uppercase;
    width: 161px;
    height: 37px;
}
.footer { 
    background-color: black;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    height: 133px;
    /* width: 1438px; */
}
.footer-navigation {
    list-style: none;
    display: flex;
}
.footer-navigation__item {
    margin: 0px 52px 0px 0px;
}
.footer-navigation__item:nth-child(6) {
    margin: 0px;
}

.footer-navigation__item a{
    /* font-family: 'Nunito Sans'; */
    font-family: var(--font-primary);
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 11px;
    line-height: 15px;
}
.footer-nav:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: #E3B873;  
}
.button-footer {
    outline: 0px;
    border: 0px;
    padding: 13px 33px;
    text-transform: uppercase;
    width: 161px;
    height: 37px;
}



