/* .pic__sl {
    background-image: url('./../../images/slider1.jpg'); *
    
     width: 679px;
    height: 482px; 
} */
.picture-slider__adm {
    position: relative;
    width: 679px;
     height: 482px;
     /* margin-top: -490px; */
}
.picture-slider__adm .image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 800ms ease;
  }
  .picture-slider__adm.image.active {
    opacity: 1;
  }
  .slider__arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
  }
  .slider__arrow {
    position: absolute;
    width: 15%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: opacity 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider__arrow:hover {
    opacity: 1;
  }
  
  .slider__arrow.left {
    left: 0;
  }
  
  .slider__arrow.right {
    right: 0;
  }
  .dots {
    display: flex;
    justify-content: space-between;
    width: 29%;
}
.dots-navigation__slider-circle:active {
  background-color: var(--color-font-gold) !important;
}

/* .dots-navigation__slider-circle:focus {
  background-color: goldenrod !important;
} */
.nav-slider__item .nav-list{
  list-style: none;
  display: flex;
} 
.nav-item .nav-item__link{
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  margin-right: 67px;
}
.nav-item__link {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}



 
