/* .pic__sl {
    background-image: url('./../../images/slider1.jpg'); *
    
     width: 679px;
    height: 482px; 
} */
.picture-slider__adm {
    position: relative;
    width: 679px;
    height: 482px;
    margin-top: 10px;}
.picture-slider__adm .image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 800ms ease;
  }
  .picture-slider__adm.image.active {
    opacity: 1;
  }
  .slider__arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 10px;
  }
  .slider__arrow {
    position: absolute;
    width: 15%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: opacity 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider__arrow:hover {
    opacity: 1;
  }
  
  .slider__arrow.left {
    left: 0;
  }
  
  .slider__arrow.right {
    right: 0;
  }
  .dots {
    display: flex;
    justify-content: space-between;
    width: 29%;
}
.dots-navigation__slider-circle:hover { 
  background-color:var(--color-backround-wihte);    
}

.dots-navigation__slider-circle:active {
  background-color: goldenrod;
  border: #E3B873;
}

/* .dots-navigation__slider-circle:focus {
  background-color:var(--color-font-gold)  !important;
} */
 .nav-link{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    width: 85%;
    margin-top: 13px;
} 
 .nav-item__link{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  margin-right: 60px;
}
.nav-item__link {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
.nav-item__link:hover {
    text-decoration: underline;/* Добавляем подчеркивание при наведении курсора на ссылку */
  /* color: #E3B873;  */ 
  text-decoration-color:rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
 .nav-item__link:active {
  color: goldenrod;
  text-decoration: underline;
 }



 
